body{
    text-align: center;
}
.btn{
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 5px; 
   
    font-size: 20px;
    font-weight: bold;  
    cursor: pointer;
    box-shadow: 2px 2px 5px grey;   
    transition: 0.3s;
    text-align: center;
    padding-top: 30px;
    
   

}



.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.red{
    background-color: red;
    color: white;
}
.green{
    background-color: green;
    color: white;
}
.blue{
    background-color: blue;
    color: white;
}

.yellow{
    background-color: yellow;
    color: black;
}
.flash{
    background-color: white;
}


.userflash{
background-color: hotpink;
}





